.container {
	width: 600px;
	margin: auto;
}

.header{
	text-align: center;
	background: green;

	border: black solid 1px;
	border-bottom: black solid 10px;
	color: white;
}

.nav {
	
}

ul li {
	display: inline;
	padding: 17px 20px;
	font-size: 30px;
}

li:hover{
	background: gold;
}

.veggies img {
	width: 100%;
	
}

a{
	text-decoration: none;
	color: white;
	
}

.info {
	
	width: 85%;
	margin: auto;
	background: #874930;

}

h2 {

	color: gold;
	padding-top: 10px;
	padding-left: 10px;
}

.info > .text {
	color: white;
	text-align: center;
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.submit{
	width: 100%;
	text-align: center;
}

input {
	background: green;
	color: white;

	height: 60px;
	width: 60%;
	
	border: 5px black solid;
	font-size: 25px;
	
}

input:hover {
	background: gold;
}