

@font-face {
   font-family: gotham;
   src: url('fonts/gotham-bold.ttf');
   /*src: local('Gotham Bold'), local('Gotham'), url('fonts/gotham-bold.ttf') format('truetype');*/
}

body {
	
}

.layout-title {
	
}

#nav-title .layout-title {
	
	color: #1f963a;
	font-size: 24px;
	font-family: gotham;
	
}

.badge-container {
	max-height: 960px;
	overflow: hidden;
}

#projects-banner {
	margin: 0 auto;
}

ul.nav.navbar-nav {
	float: right;
}

.navbar {
	z-index: 150;
}

.nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}

.quotes {
	background-color: #f2f2f2;
	display: none;
}

@media screen and (max-width: 600px) {
	.myquote {
		content: 'Figure \a';

	}
}

.khosla {
	padding: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}

.quoteFooter {
	font-size: 120%;
}

.img-responsive {
	margin-bottom: 15px;
}

/*
* Masonry Nonsense
*/
#masonry-container {
	
	padding:20px;
	background-color: #f2f2f2;
	
	

}

#projects{
	margin: 10px;
}

.proj-hover:hover {

}

.inspire {
	padding: 25px;
}


.masonry-img {
	-webkit-border-radius: 10px;
	border-radius: 10px;

    width: 100%;
    max-width: 360px;
    height: auto;
}

img.proj-items {
	-webkit-border-radius: 10px;
	border-radius: 10px;

	
	width: 100% !important;
}


.item > img {
	box-shadow: 5px 5px 4px #100f14;

}

.item {
	background: transparent;
	padding-bottom: 10px;

	
}


