

@font-face {
   font-family: gotham;
   src: url(fonts/gotham-bold.ttf);
}

body {
	padding: 20px;
	color: #666666;
}

h1 {
	text-align: center;
	color: white;
	background-color: #1f963a;
	font-family: gotham;
	padding-bottom: 5px;
	padding-top: 5px;
}

.quotes {
	height: 100%;
}

.khosla {
	padding: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}

.quoteFooter {
	font-size: 120%;
}


/*
* Masonry Nonsense
*/
#container {
	
	padding:20px;
	background-color: #1f963a;
	

}


.inspire {
	padding: 25px;
}


img{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;

    width: 100%;
    height: auto;
}

img.khosla {

}

/*img.item{
	box-shadow: 5px 5px 4px #100f14;
}
*/
.item {
	background: transparent;
	padding-bottom: 10px;
	

	/*width: 480px;*/
	
}

.item.is-expanded {


	width: 960px;


	background-color: white;

}

.w {
	width: 960px;
	background-color: white;
}

	
