html, body { height: 100%; margin: 0; padding: 0;}
#map-canvas {
width: 50%; height: 50%; margin: 0;  padding:0;
}
#pac-input {

        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
}
#pac-input:focus {
        border-color: #4d90fe;
  }
.pac-container {
        font-family: Roboto;
      }
.controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }
 .container{
    position: absolute;
    top: 0;
 }
@media all and (min-width: 1000px) {
    .container{
        right: 250px;
    }
}
@media all and (max-width: 999px) {
    .container{
        right: 100px;
    }
}
#results{
    
}

